* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px rgb(165, 165, 165);
    font-size: 55px;
    color: white;
}

main {
    margin: 0 auto;
    height: 1000px;
    width: 924px;
    }

.row {
    content:'';
    clear: both;
    display:table;
    margin:20px;

}

.card {
    background-color: white;
    border-radius: 20px;
    height: 250px;
    width: 200px;
    padding: 20px 5px;
    margin-right:20px;
    float: left
}

.image , img {
    content:'';
    clear: both;
    display:table;
    height:212px;
    width:191px;    
}

.name {
    text-align: center;
    color: orange;
    display:none;
}

/*.row .card::after {
    content: url(../img/pattern.png);
}*/



/*carta 11*/
.row:nth-child(1) .card .image:nth-child(1):hover
{
    content: url(../img/noun_Bicycle_3134821.png);
}

.row:nth-child(1) .card:nth-child(1) .image:hover + .name
{
    display: block;    
}

/*carta 11 fine*/

/*carta 12*/
.row:nth-child(1) .card:nth-child(2) .image:hover
{
    content: url(../img/noun_Cruise_Ship_3134824.png);
}

.row:nth-child(1) .card:nth-child(2) .image:hover + .name
{
    display: block;    
}

/*carta 12 fine*/

/*carta 13*/
.row:nth-child(1) .card:nth-child(3) .image:hover
{
    content: url(../img/noun_Submarine_3134738.png);
}

.row:nth-child(1) .card:nth-child(3) .image:hover + .name
{
    display: block;    
}
/*carta 13 fine*/

/*carta 14*/
.row:nth-child(1) .card:nth-child(4) .image:hover
{
    content: url(../img/noun_Submarine_3134738.png);
}

.row:nth-child(1) .card:nth-child(4) .image:hover + .name
{
    display: block;    
}

/*carta 14 fine*/


/*carta 21*/
.row:nth-child(2) .card:nth-child(1) {
    content: url(../img/pattern.png);
}
.row:nth-child(2) .card:nth-child(1):hover {
    content: url(../img/noun_Tractor_3134797.png);
}
/*carta 21 fine*/

/*carta 23*/
.row:nth-child(2) .card:nth-child(3) {
    content: url(../img/pattern.png);
}
.row:nth-child(2) .card:nth-child(3):hover {
    content: url(../img/noun_Bicycle_3134821.png);
}
/*carta 23 fine*/

/*carta 24*/
.row:nth-child(2) .card:nth-child(4) {
    content: url(../img/pattern.png);
}
.row:nth-child(2) .card:nth-child(4):hover {
    content: url(../img/noun_Tram_3134750.png);
}
/*carta 24 fine*/

/*carta 31*/
.row:nth-child(3) .card:nth-child(1) {
    content: url(../img/pattern.png);
}
.row:nth-child(3) .card:nth-child(1):hover {
    content: url(../img/noun_Cruise_Ship_3134824.png);
}
/*carta 31 fine*/

/*carta 32*/
.row:nth-child(3) .card:nth-child(2) {
    content: url(../img/pattern.png);
}
.row:nth-child(3) .card:nth-child(2):hover {
    content: url(../img/noun_Tram_3134750.png);
}
/*carta 32 fine*/

/*carta 33*/
.row:nth-child(3) .card:nth-child(3) {
    content: url(../img/pattern.png);
}
.row:nth-child(3) .card:nth-child(3):hover {
    content: url(../img/noun_Tractor_3134797.png);
}
/*carta 33 fine*/

/*carta 34*/
.row:nth-child(3) .card:nth-child(4) {
    content: url(../img/pattern.png);
}
.row:nth-child(3) .card:nth-child(4):hover {
    content: url(../img/noun_air_balloon_3134741.png);
}
/*carta 34 fine*/


/*carta scoperta*/
/*.row:nth-child(2) .image:nth-child(1) {
    content: url(../img/noun_air_balloon_3134741.png);
}*/
.row:nth-child(2) card:nth-child(1):hover {
    content: url(../img/pattern.png);
}
/*carta scoperta*/
footer {
    text-align: center;
}